@use '../base/variables' as *;

#pageFooter {
    height: 15svh;
    background-color: $footer-color;
    color: #ffffff;
    width: 100%;
    margin-top: 3rem;
    padding: 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    overflow: hidden;
    bottom: 0;
}

#disclaimer {
    padding-top: 4rem;
    font-size: 11px;
    text-align: center;
}