// variables
@use './base/variables' as *;

// bootstrap
@use 'bootstrap/scss/bootstrap';

// base
@use './base/typography';
@use './base/animations';

// layouts
@use './layout/splash';
@use './layout/footer';

// components
@use './components/navbar';
@use './components/tables';
@use './components/spacer';
@use './components/portfolio';

